* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 20px;
}

div {
    max-width: 800px;
    
    
    margin: 0 auto;
}

.container {
    border: 1px solid gray;
    padding: 20px;
    
}

p {
    margin: 20px 0px;
}



