.flex-start,
.center,
.flex-end,
.baseline {
    border: 2px solid blue;
    padding: 20px;
    width: 300px;
    display: flex;
    align-items: flex-start;
    height: 200px;
}

.item {
    border: 2px solid black;
    padding: 20px;
    background-color: lightgray;
}

.flex-start :nth-child(2) {
    align-self: flex-start;
}

.center :nth-child(2) {
    align-self: center;
}

.flex-end :nth-child(2) {
    align-self: flex-end;
}

.baseline :nth-child(2) {
    align-self: baseline;
}

