@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, sans-serif;
}

body {
    height: 100dvh;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: white;
    padding: 2.5em;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.3);
    min-width: 400px;
}

h2 {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid gray;
    display: block;
    width: 5em;
}

input {
    display: block;
    padding: 1em;
    width: 100%;
    border: 2px solid lightgray;
    border-radius: 0.2em;
}



label {
    font-weight: bold;
    font-size: 14px;
}

form > p {
    position: relative;
    
}

.fa-solid {
    position: absolute;
    right: 0;
    top: 0;
}

button {
    display: block;
    width: 100%;
    margin-top: 1.5em;
    padding: 1em;
    border: none;
    background-color: orange;
    color: white;
    border-radius: 0.3em;
}

label::after {
    content: '*';
    color: red;
    margin-left: 0.3em;
}

input:focus {
    border-color: orange;
    outline: none;
}

.note {
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 0.8em;
    color: gray;
    font-style: italic;
}
